.cvButton {
  background-color: var(--cvButtonBackground);
  padding: 0.7rem;
  width: 120px !important;
  font: inherit;
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 5px;
  border: transparent;
  color: var(--cvButtonText);
  cursor: pointer;
}
.cvButton:hover {
  background-color: var(--aboutButtonHover);
  color: white;
}

.cvDiv h3 {
  font-size: 2rem;
  color: var(--h2Color);
  margin-top: 2.5rem;
  margin-bottom: 0;
}

.cvDiv p {
  color: white;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.skillsContainer {
  width: 50%;
  background-color: var(--skillsContainerBackground);
  padding: 15px;
  padding-top: 4rem;
  border-radius: 5px;
  border: 2px solid rgb(96, 117, 156);
  box-shadow: 4px 5px 0 rgb(71, 91, 129);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.2rem;
}

.skillsTitle {
  align-self: center;
  background-color: var(--skillsTitle);
  font-weight: bold;
  font-size: 2rem;
  width: 150px;
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: white;
}

.skillsText {
  align-self: center;
  width: 70%;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

.skillsContainer svg {
  font-size: 4rem;
  color: rgb(59, 59, 59);
}
.skillsContainer div {
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}
.skillsContainer div:hover {
  transform: translateY(-5px) scale(1.05);
}

.icon {
  max-width: 50px;
  height: 100px;
}

.icon p {
  opacity: 0;
  color: rgb(49, 104, 255);
  font-weight: 500;
  transition: 0.2 ease-in-out;
}

.icon:hover p {
  font-family: Poppins;
  opacity: 1;
}

.HTML svg {
  color: #d84924;
}
.CSS svg {
  color: #2071f2;
}
.Bootstrap svg {
  color: #553473;
}
.MaterialUI svg {
  color: #007ac1;
}
.JavaScript svg {
  color: #ead41c;
}
.NodeJS svg {
  color: #83ba00;
}
.Express svg {
  color: green;
}
.MongoDB svg {
  color: #108b4b;
}
.React svg {
  color: #77d4f2;
}
.NextJS svg {
  color: black;
}
.Git svg {
  color: #e84e31;
}

@media (max-width: 572px) {
  .cvDiv {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .cvDiv p{
    margin-bottom: 2rem;
  }
  .cvButton {
    width: 100% !important;
  }
  .skillsContainer {
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
  }
}
