.socialIcons {
  align-self: center;
  background-color: var(--contactDivBackground);
  border: 8px solid rgb(255, 219, 120);
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  border-radius: 5px;
  gap: 2rem;
}

.socialDiv {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid rgb(194, 194, 255);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.socialDiv:hover {
  border: 1px solid #2074c8;
  box-shadow: 5px 5px 1px #054483;
}
.socialIcons svg {
  font-size: 2rem;
  color: var(--contactIcon);
  transition: 0.2s ease-in-out;
}

.socialIcons div {
  z-index: 1;
}

.socialDiv:hover svg {
  transform: translateX(5px);
}

.socialDiv p {
  opacity: 1;
  font-weight: 300;
  z-index: 0;
  transition: 0.2s ease-in-out;
}
/* .socialDiv p.showing {
  transform: translateX(3rem);
  z-index: 1;
  opacity: 1;
} */
.socialDiv p:hover {
  cursor: pointer;
  color: #0a66c2;
  font-weight: 400;
  text-decoration: underline;
}

.socialDiv:hover .LinkedIn svg {
  color: #0a66c2;
}

.socialDiv:hover .GitHub svg {
  color: #000000;
}

.socialDiv:hover .Mail svg {
  color: rgb(236, 92, 92);
}

@media (max-width: 1200px) {
  .socialIcons {
    width: 70%;
  }
}

@media (max-width: 572px) {
  .socialIcons {
    width: 100%;
  }
}
