:root {
  /* Your default theme */
  --background: rgb(97, 149, 245);
  --foreground: black;
  --aboutButton: white;
  --aboutButtonHover: rgb(255, 190, 39);
  --navBackground: rgba(109, 160, 255, 0.9);
  --navLinksHover: rgb(255, 255, 255);
  --containerBackground: rgb(84, 144, 255);
  --footerBackground: rgba(241, 246, 255, 0.9);
  --footerLinks: rgb(63, 63, 63);
  --footerCR: rgb(63, 63, 63);
  --h2Color: rgb(255, 255, 255);
  --textColor: rgb(253, 253, 253);
  --cvButtonBackground: rgb(255, 198, 66);
  --cvButtonText: rgb(255, 255, 255);
  --cvButtonHover: rgb(101, 101, 236);
  --skillsContainerBackground: rgb(240, 248, 255);
  --skillsTitle: rgb(233, 70, 70);
  --projectCardBackground: rgb(219, 231, 255);
  --projectContentBackground: #f5f5f5;
  --projectCardTextColor: rgb(44, 44, 44);
  --projectCardCodeButton: rgb(255, 198, 66);
  --projectCardCodeButtonHover: rgb(255, 186, 25);
  --contactDivBackground: white;
}

[data-theme="dark"] {
  --background: rgb(20, 29, 46);
  --foreground: white;
  --aboutButton: rgb(38, 55, 90);
  --aboutButtonHover: rgb(38, 114, 255);
  --navBackground: rgba(29, 43, 70, 0.9);
  --navLinksHover: rgb(99, 143, 246);
  --containerBackground: rgb(14, 24, 41);
  --footerBackground: rgb(20, 29, 46);
  --footerLinks: rgb(139, 149, 167);
  --footerCR: rgb(48, 58, 83);
  --h2Color: rgb(99, 143, 246);
  --textColor: rgb(238, 238, 238);
  --cvButtonBackground: rgb(38, 55, 90);
  --cvButtonText: rgb(66, 132, 255);
  --cvButtonHover: rgb(38, 114, 255);
  --skillsContainerBackground: rgb(13, 22, 32);
  --skillsTitle: rgb(194, 65, 65);
  --projectCardBackground: rgb(35, 45, 65);
  --projectContentBackground: rgb(51, 73, 112);
  --projectCardTextColor: rgb(236, 236, 236);
  --projectCardCodeButton: rgb(173, 141, 65);
  --projectCardCodeButtonHover: rgb(206, 153, 31);
  --contactDivBackground: --navBackground: rgba(29, 43, 70, 0.9);
  --contactIcons: white;
}

html,
body {
  margin: 0;
  font-family: "Inter";
  /* background-color: rgb(154, 189, 255); */
  background-color: var(--background);
  transition: 0.2s ease-in-out;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav {
  height: 64px;
  width: 100%;
  background: var(--navBackground);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  /* border-bottom: 2px solid #76a3f8; */
}

nav.relative {
  transition: all 0.2s ease-in-out;
}

nav.stickyNavbar {
  position: sticky;
  background-color: var(--navBackground, 0.1);
  backdrop-filter: blur(4px);
  top: 0;
  z-index: 5;
}
nav .personal-logo {
  width: 170px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}

nav .personal-logo:hover {
  cursor: pointer;
}

nav .personal-logo h4 {
  font-family: Poppins;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  margin: 0;
}

nav .personal-logo p {
  color: rgb(253, 219, 67);
  margin: 0;
}
nav .theme-button {
  background-color: rgb(243, 247, 255);
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
nav .theme-button svg {
  color: rgb(248, 206, 21);
  transition: all 0.3s ease-in-out;
}
nav .theme-button:hover svg {
  transform: rotate(20deg);
}
nav .theme-button:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5);
}

nav .nav-links a {
  color: rgb(250, 250, 250);
  font-weight: 400;
  font-family: Poppins;
  margin-left: 1.5rem;
  transition: 0.2s ease;
}
.nav-links a.active {
  color: var(--navLinksHover);
  font-weight: 500;
  border-bottom: 2px solid var(--navLinksHover);
}
nav .nav-links a:hover {
  color: var(--navLinksHover);
}

footer {
  width: 100%;
  background-color: var(--footerBackground);
  height: 250px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p:last-child {
  color: var(--footerCR);
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 50%;
  border-top: 1px solid rgb(206, 206, 206);
}
.footer-links .footer-title {
  font-size: 1.1rem;
  font-weight: 500;
}
.footer-links ul li {
  color: var(--footerLinks);
  list-style-type: none;
  margin-top: 1rem;
  font-weight: 300;
  transition: 0.2s ease-in-out;
}

.footer-links ul li:hover {
  color: rgb(78, 96, 173);
}

.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 15rem;
  width: 100%;
  background: var(--containerBackground);
  /* border-top-left-radius: 3px;
  border-top-right-radius: 3px; */
  border-radius: 3px;
  /* box-shadow: 15px 15px 0 rgb(128, 172, 255), -15px 15px 0 rgb(128, 172, 255); */
  padding: 0.5rem 0.5rem 5rem;
  display: flex;
  flex-direction: column;
}
.description {
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: -12rem;
}

.description .header-info {
  align-self: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
.description .header-info h2 {
  align-self: center;
  font-family: Inter;
  font-weight: bold;
  font-size: 3.5rem;
  color: var(--h2Color);
}
.description .header-info span {
  color: rgb(255, 214, 119);
  font-weight: bold;
}
.description .p-text {
  align-self: center;
  line-height: 2rem;
  font-size: 2rem;
  color: white;
  margin-bottom: 3rem;
}

.description p{
  font-size: 1.5rem;
  color: var(--textColor);
}

/* .projects-container {
  align-self: center;
  margin-top: 2rem;
  width: 70%;
  border-radius: 5px;
} */
/* .projects-container h2 {
  font-size: 2rem;
  font-family: Poppins;
}
.projects-container p {
  font-size: 1.5rem;
  padding-left: 10px;
} */
.projects {
  align-self: center;
  width: 80%;
  list-style: none;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  gap: 30px;
  overflow: hidden;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 5em; */
  margin-top: .5rem;
  padding: 2rem;
}

.container .h1-title {
  align-self: center;
  position: relative;
  width: 100%;
  text-transform: uppercase;
  font-size: 4rem;
  font-family: "Poppins";
  top: -11.5rem;
  line-height: 90px;
  color: rgb(255, 214, 119);
  text-align: center;
  /* -webkit-box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%),
    10px 10px 1px 0 rgb(103, 155, 253), 20px 20px 1px 0 rgb(103, 155, 253);
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%), 0 -1px 1px 0 rgb(0 0 0 / 10%),
    10px 10px 1px 0 rgb(103, 155, 253), 20px 20px 1px 0 rgb(87, 146, 255); */
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.text p {
  color: var(--textColor);
}
.link-button {
  margin-top: 5rem;
  background-color: white;
  padding: 1rem;
  width: 120px;
  text-align: center;
  border-radius: 5px;
  color: rgb(66, 132, 255);
  border: 1px solid rgb(83, 143, 255);
  transition: 0.2s ease-in-out;
}
.link-button:hover {
  cursor: pointer;
  background-color: var(--aboutButtonHover);
  color: white;
}

/* @media (max-width: 992px) {
  .container h1 {
    font-size: 5rem;
  }
} */

@media (max-width: 768px) {
  nav .personal-logo h4 {
    font-size: 1rem;
  }
  nav .personal-logo p {
    font-size: 1rem;
  }


  .description p{
    font-size: 1rem;
  }

  .container .h1-title {
    width: 100%;
    margin-top: 4rem;
    text-align: center;
    font-size: 2rem;
  }

  .projects {
    padding: 0;
    width: 100%;
  }
}

@media (max-width: 576px) {
  nav {
    align-items: center;
  }

  nav .personal-logo {
    visibility: hidden;
    margin: 0;
    width: 0;
  }
  
  .container{
    width: 100%;
  }

  .description{
    padding: 3rem;
  }
  
  .description .header-info{
    width: 100%;
  }
  .description .header-info h2{
    font-size: 2rem;
  }

  .description .p-text {
    font-size: 1.1rem;
    line-height: normal;
  }

  .description{
    width: 100%;
  }
}
