.mainContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeContainer {
  display: flex;
  /* background-color: rgb(255, 255, 255); */
  width: 70%;
  margin-top: 7rem;
  border-radius: 5px;
  /* box-shadow: 30px 30px 1px 0 rgb(83, 143, 255);
  -webkit-box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%),
    30px 30px 1px 0 rgb(103, 155, 253), 30px 30px 1px 0 rgb(103, 155, 253);
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%), 0 -1px 1px 0 rgb(0 0 0 / 10%),
    30px 30px 1px 0 rgb(103, 155, 253), 60px 60px 1px 0 rgb(87, 146, 255); */
}
.homeTitles {
  padding: 5rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.homeTitles h1 {
  font-weight: 800;
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: -1rem;
}
.homeTitles p {
  margin-top: 1.5rem;
  color: #ffffff;
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 1.3rem;
}
.homeTitles span {
  color: rgb(255, 192, 74);
  /* text-shadow: 3px 3px 0 rgb(136, 178, 255); */
}
.homeTitles b {
  color: rgb(225, 233, 255);
  font-weight: 600;
}
.homeTitles ul li {
  list-style-type: none;
  font-family: Roboto Mono;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: #282828;
}
.homeImage {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
/* .personalImage {
  border: 1px solid black;

} */

.homeTitles a {
  margin-top: 2rem;
  background-color: white;
  padding: 1rem;
  width: 120px;
  text-align: center;
  border-radius: 5px;
  color: rgb(66, 132, 255);
  border: 1px solid rgb(83, 143, 255);
  transition: 0.2s ease-in;
}
.homeTitles a:hover {
  background-color: rgb(38, 114, 255);
  color: white;
}
