.projectCard {
  width: 25%;
  background-color: rgb(219, 231, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  /* border: 2px solid rgb(238, 238, 238); */
  padding-top: 1rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 1px 1px 0 rgba(27, 27, 27, 0.1);
  transition: 0.2s ease-in-out;
}
.projectCard:hover {
  background-color: rgb(205, 222, 255);
  transform: scale(1.01);
}
.projectContent {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 1rem 5rem;
  border-top: 1px solid rgb(207, 207, 207);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}
.projectCard h2 {
  align-self: center;
  width: 100%;
  font-family: Poppins;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(248, 248, 248);
  background-color: rgb(197, 73, 73);
  padding: 3px;
  border-radius: 5px;
}
.projectCard p {
  text-align: center;
  font-family: Poppins;
  font-size: 1.1rem;
  color: rgb(44, 44, 44);
}

.projectImg {
  background-color: rgb(37, 37, 37);
  border-radius: 5px;
  border: 5px solid rgb(37, 37, 37);
  margin-bottom: 0.5rem;
}

.projectImg img {
  overflow: hidden;
}

.languages {
  align-self: center;
  display: flex;
  gap: 5px;
  color: rgb(44, 44, 44);
  margin-top: 1rem;
  font-size: 1.4rem;
}

/* .overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Roboto Mono";
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(2px);
  border-radius: 7px;
  z-index: 0;
  transition: 0.1s ease-in-out;
  transform: scale(0.1);
}

.projectCard:hover .overlay {
  opacity: 1;
  z-index: 2;
  height: 100%;
  transform: scale(1);
} */

.linkButtons {
  margin-bottom: 0.5rem;
  position: absolute;
  bottom: 0;
  opacity: 0;
  align-self: flex-end;
  justify-self: flex-end;
  transition: 0.2s ease;
}
.projectCard:hover .linkButtons {
  opacity: 1;
}

.projectCard button {
  padding: 0.5rem;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  font-family: Inter;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  transition: 0.2s ease-in-out;
}

.inProgressButton {
  margin-left: 1rem;
  background-color: #b3b3b3;
  cursor: default;
}

.sourceButton {
  background-color: rgb(255, 198, 66);
  cursor: pointer;
}
.sourceButton:hover {
  background-color: rgb(255, 186, 25);
}
.visitButton {
  margin-left: 1rem;
  background-color: #5d96ff;
  cursor: pointer;
}
.visitButton:hover {
  background-color: #2b75ff;
}
